/* universal */
a {
  text-decoration: none;
  color:black;
}

/* header */
.header {
  background-color: white;
  color: black;
  font-size: 1.4em;
  max-width: 2000px;
  height: 70px !important;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items:center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-left {
  margin-left: 10%;
}

.header-right {
  margin-right: 10%;
}

/* main */
.main-list {
  display: flex;
  flex-direction: column;
}

.bio {
  margin: 25% 15%;
  width: 70vw;
  height: 90vh;
  max-height:100px;
  text-align: center;
}

.bio p  {
  font-size: 2em;
  max-width: 700px;
  line-height: 120%;
}

.bio-work-each {
  padding:10%;
  width: 100%;
  background-color: lightgray;
}

.bio-work {
  display: flex;
  flex-wrap: wrap;
}
.bio-work>div {
  flex: 0 50%;
  border: white solid;
  box-sizing:border-box
}
/* side-about */
/* will be hidden in small screen */
.side-about, .side-about-ex {
  overflow-x: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  max-width: 50px;
  height: 100%;
  z-index: 99;
  display: block;
  border-left: 2px solid black;
}

.side-about-ex {
  border-left:none;
}

.side-about p, .side-about-ex p {
  margin-top: 45vh;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.side-about-extended {
  overflow-x: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  right: 50px;
  width: 50%;
  max-width: 250px;
  height: 100%;
  z-index: 33;
  display: block;
  border-left: 2px solid black;
}

/* side-work */
/* will be hidden in small screen */
.side-work, .side-work-ex {
  overflow-x: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  max-width: 50px;
  height: 100%;
  z-index: 99;
  display: block;
  border-right: 2px solid black;
}

.side-work-ex {
  border-right: none;
}

.side-work p, .side-work-ex p {
  margin-top: 45vh;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.side-work-extended {
  overflow-x: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50px;
  width: 50%;
  max-width: 250px;
  height: 100%;
  z-index: 33;
  display: block;
  border-right: 2px solid black;
}

/* footer */

.footer {
 background-color: black;
 color:white;
 max-width: 2000px;
 display: flex;
 flex-direction: row;
 align-content: center;
 align-items:center;
 justify-content: space-around;
}

.footer a {
  color:white;
  display: block;
}

.footer-bio, .footer-links {
  margin: 5%;
  padding: 5%;
  width: 30%;
  max-width: 400px;
}

.footer-bio {
  line-height: 200%;
  font-size: 1.2em;
}

.footer-links {
  line-height: 150%;
}